.container {
  margin: 0 auto;
  
}
.salir{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  
}
.salir span,tex{
    color: #fff;
}
.cuerpo{
    background: #18bc9c;
}
.salir:hover,
.salir:focus
{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.right{
    position: absolute;
    right: 6%;
    top: 1%;
}
.rightBottom{
    position: absolute;
    right: 6%;
    bottom: 7%;
}